# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Archivos de entorno virtual
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db
